/*
    Usando mediaQuery lo que haremos es ajustar la tabla para que cuando pase el máximo de ancho, se ajuste de forma
    que repetirá la cabecera de la tabla de manera vertical por cada una de las filas de datos que contenga.
 */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){

    /*
    Colocamos la cabecera en paralelo a sus atributos, para que sepamos a que corresponde cada información.
     */
    td:nth-of-type(1):before { content: "Fecha"; }
    td:nth-of-type(2):before { content: "Posición"; }
    td:nth-of-type(3):before { content: "Tier"; }
    td:nth-of-type(4):before { content: "Torneo"; }
    td:nth-of-type(5):before { content: "Resultado"; }
    td:nth-of-type(6):before { content: "Equipo rival"; }
    td:nth-of-type(7):before { content: "Ganancias"; }
}
