body{
    text-align: center;
    background-color: #A9A9A9;
}
.form{
    padding-top: 98px;
}

form{
    width:450px;
    margin:auto;
    background: #727272;
    padding:10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2{
    color: #fff;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

@media (max-width: 450px){
    form{
        width: 100%;
    }

    .contact ul{
        display: block;
    }
}

.contact{
    padding-bottom: 30px;
    padding-top: 60px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background-color:#A9A9A9;

}

.contact a{
    display:inline-block;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight:bold;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
}

.contact a:hover{
    background: #fff;
    border-radius: 50px;
}