form{
    text-align: center;
    background-color: #A9A9A9;

}

input, textarea{
    margin: 0 0 .4em 0;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.01);
    border: 0;
    border-bottom: 5px solid rgba(0,0,0,.12);
    line-height: 40px;
}
.contact{
    padding-bottom: 30px;
    padding-top: 60px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background-color:#A9A9A9;
}

.contact a{
    display:inline-block;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.contact a:hover{
    background: #ffffff;
    border-radius: 50px;
}
